The output you gave is either not a JSON or does not match the schema I gave you.
Your answer must exactly match the following JSON schema with no additional text:

{{schema}}

IMPORTANT: skip the <think> and </think> tags. Output just a JSON matching the schema and nothing else (it will be later parsed). Do not use "\u" escape sequences in JSON strings. You are not limited to ASCII!