{{prompt}}

The query enclosed between <query> and </query> tags follows:

<query>{{query}}</query>

The answer will be JSON with exactly the following schema:

{{schema}}
 
Give me directly the answer (the response). Do not perform thinking or reflection steps for now. 