# Instructions
{{instructions}}

# Query
The query enclosed between <query> and </query> tags follows:

<query>{{query}}</query>

# JSON Schema
The answer will be JSON with exactly the following schema:

{{schema}}